#head
{
  color:white;
  background-color:gray;
  height: 90px;
  text-align: center;
  vertical-align: middle;
}

#foot
{
  color:white;
  background-color:gray;
  font-size:"+3";
  height: 50px;
  text-align: center;
  vertical-align: middle;
}


.container-fluid
{
  padding:20px;
}

figure{
  float:left;
  width: 80px;
  padding: 10px;
}

p{
  display: inline-block;

}



ul
{
  list-style-type: none;

}
